{% load static %}
{% load widgets %}
<html>
	<head>
    	<title>{% if flatpage.title %}{{ flatpage.title }} - {% endif %}{% if request.session.meta_title %}{{ request.session.meta_title }}{% else %}ПЕРУНИЦА{% endif %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="{{ request.session.meta_description }}">
		<meta name="keywords" content="{{ request.session.meta_keywords }}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" title="Перуница" type="image/x-icon" />
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/slicebox.css' %}" />
		<script type="text/javascript" src="{%static 'js/jquery-1.7.1.min.js' %}"></script>
		<script type="text/javascript" src="{%static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr.custom.46884.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.slicebox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-notifer.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'js/ui/jquery-ui.min.css' %}" />
        <script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
	</head>
    <body>
        <div class="main_wrap">
        <div class="main">
        <table class="header">
            <tr>
                <td class="headerl" onclick="location.href='/'"></td>
                <td class="headerr" id="basket">
                    <div class="cart_info cart_info_ex">
                        <div class="title">Мой заказ</div>
                        <div class="price"><span id="basket_sum">0</span> тнг.</div>
                        <button class="butt" type="button" onclick="location.href='#'">Оформить</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="headerm">
                    <div class="emenu">
                        <a href="/pages/promotions/">Акции</a>
                        <a href="/pages/discont/">Скидки</a>
                        <a href="/pages/delivery/">Условия доставки</a>
                    </div>
                </td>
            </tr>
        </table>

        <div class="uban_nav" style="display: block;">
        <a class="prev" style="height: 200px;"></a>
        <a class="next" style="height: 200px;"></a>
        </div>

        {% widget_main_banner %}

        {% widget_main_menu %}

        {% if menu %}
            {% widget_sub_menu menu %}
        {% else %}
            <div class="rsection_m">&nbsp;</div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div class="clear"></div>
        </div>

        </div>
        <div class="footer">
            <div class="copy">© 2015 ПЕРУНИЦА</div>
            <div class="phone">Общая информация по телефонам:  +7&nbsp;701&nbsp;965&nbsp;15&nbsp;15 и +7&nbsp;776&nbsp;965&nbsp;15&nbsp;15</div>
            <div class="author">
                <a href="http://lagovskiy.com" target="_blank">создание сайта - <b><span style="color: red;">S</span>ERGEY<span style="color: red;">L</span>AGOVSKIY</b></a>
            </div>
        </div>
        <script type="text/javascript">
        {% block bottom_script %}
        {% endblock %}
        </script>
    </body>
</html>