<html>
	<head>
    	<title>{{ meta_title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="{{ meta_description }}">
		<meta name="keywords" content="{{ meta_keywords }}">
		<link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/slicebox.css" />
		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/cart.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.46884.js"></script>
        <script type="text/javascript" src="js/jquery.slicebox.js"></script>
	</head>
<body>
<div class="main_wrap">
<div class="main">
<table class="header">
	<tr>
    	<td class="headerl"></td>
        <td class="headerr">
        	<div class="cart_info cart_info_ex">
            	<div class="title">Мой заказ</div>
                <div class="price"><span>500</span> тнг.</div>
                <button class="butt" type="button" onclick="location.href='#'">Оформить</button>
                </div>
        </td>
    </tr>
    <tr>
    	<td colspan="2" class="headerm">
            <div class="emenu">
                <a href="#">Акции</a>
                <a href="#">Условия доставки</a>
            </div>
        </td>
    </tr>
</table>

<div class="uban_nav" style="display: block;">
<a class="prev" style="height: 200px;"></a>
<a class="next" style="height: 200px;"></a>
</div>
<!--
<div class="uban" style="height: 200px;">
	<div class="ready" style="display: block;">
    	<img src="img/baner1.jpg" alt="" style="border:0;">
    </div>
    <div class="ready" style="display: none;">
    	<a href="#">
        	<img src="img/baner2.jpg" alt="" style="border:0;">
        </a>
    </div>
    <div class="ready" style="display: none;">
    	<a href="#">
        	<img src="img/baner3.jpg" alt="" style="border:0;">
        </a>
    </div>
    <div class="ready" style="display: none;">
    	<a href="#">
        	<img src="img/baner4.jpg" alt="" style="border:0;">
        </a>
    </div>
</div>
-->
<div>
    <ul id="sb-slider" class="sb-slider">
        <li>
            <a href="http://www.flickr.com/photos/strupler/2969141180" target="_blank"><img src="img/baner1.jpg" alt="image1"/></a>
        </li>
        <li>
            <a href="http://www.flickr.com/photos/strupler/2968268187" target="_blank"><img src="img/baner2.jpg" alt="image2"/></a>
        </li>
        <li>
            <a href="http://www.flickr.com/photos/strupler/2968114825" target="_blank"><img src="img/baner3.jpg" alt="image1"/></a>
        </li>
        <li>
            <a href="http://www.flickr.com/photos/strupler/2968122059" target="_blank"><img src="img/baner4.jpg" alt="image1"/></a>
        </li>
    </ul>
    
    <div id="shadow" class="shadow"></div>
</div>
<div class="clear"></div>


<div class="lsection">
	<div class="menu">
		<div style="background:url('img/i_beaf.png') no-repeat;">
        	<span>
            	<a href="#" class="sel">Мясо</a>
            </span>
        </div>
        <div style="background:url('img/i_fish.png') no-repeat;">
        	<span>
            	<a href="#">Рыба</a>
            </span>
        </div>
        <div style="background:url('img/i_soup.png') no-repeat;">
        	<span>
            	<a href="#">Супы</a>
            </span>
        </div>
        <div style="background:url('img/i_garnir.png') no-repeat;">
        	<span>
            	<a href="#">Гарниры</a>
            </span>
        </div>
        <div style="background:url('img/i_salat.png') no-repeat;">
        	<span>
            	<a href="#">Салаты</a>
            </span>
        </div>
        <div style="background:url('img/i_sous.png') no-repeat;">
        	<span>
            	<a href="#">Соусы</a>
            </span>
        </div>
        <div style="background:url('img/i_desert.png') no-repeat;">
        	<span>
            	<a href="#">Десерты</a>
            </span>
        </div>
	</div>
	<div class="clear"></div>
</div>

<div class="rsection">

    <div class="smenu">
        <a href="#" class="sel">Собери свой WOK</a>
        <span>|</span>
        <a href="#">Дополнительно</a>
        <div class="clear"></div>
    </div>
    
    <div class="items" data-show="1">
        <div class="item" data-id="1220" data-extra="1">
            <img src="img/t11.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Бефстроганоф из телятины </div>
                <div class="descr">Нежная телячья вырезка в сливочном соусе с корнишонами и луком фри. 300г.</div>
            </div>
            <div class="price">650 тнг.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="item" data-id="1221" data-extra="1">
            <img src="img/t12.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Бенто с курицей</div>
                <div class="descr">Куриная грудка, сосиска, кунжут, яблоко, соевый соус, перец красный, вино белое полусладкое, специи, подается с цветным рисом. 350г.</div>
            </div>
            <div class="price">1300 тнг.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="item" style="margin-right:0" data-id="1222" data-extra="1">
            <img src="img/t13.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Скоблянка</div>
                <div class="descr">Мясные копчености с жареной картохой, луком, чесноком и зеленью. 350г.</div>
            </div>
            <div class="price">900 тнг.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
        <div class="item" data-id="1329" data-extra="1">
            <img src="img/t14.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Жаркое из говядины с лесными грибами и хрустящими огурчиками</div>
                <div class="descr">Говядина, обжаренная с картофелем, луком и морковью,лесными грибами, подается с зеленью и корнишонами. 350г.</div>
            </div>
            <div class="price">800 тнг.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="chwin" style="display: none; margin-left: -290px; margin-top: -129.5px;">
        <a class="close" onclick="cart_close_win();"></a>
        <div class="title">Выберите свой морс в подарок (0,33 мл.)</div>
        <div class="info">
            <div class="item">
                <img src="img/t02.jpg">
                <span>Черничный</span>
            </div>
            
            <div class="item">
                <img src="img/t01.jpg">
                <span>Брусничный</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
</div>

</div>
<div class="footer">
	<div class="copy">© 2015 ПЕРУНИЦА</div>
	<div class="phone">Общая информация по телефону: (8152) 75-00-05</div>
    <div class="author">
    	<a href="http://lagovskiy.com" target="_blank">создание сайта - <b><font color="red">S</font>ERGEY<font color="red">L</font>AGOVSKIY</a></b>
    </div>
</div>
<script type="text/javascript">
	$(function() {
		
		var Page = (function() {
			var $navArrows = $( '#nav-arrows' ).hide(),
				$shadow = $( '#shadow' ).hide(),
				slicebox = $( '#sb-slider' ).slicebox( {
					onReady : function() {

						$navArrows.show();
						$shadow.show();

					},
					autoplay : true,
					interval: 5000,
					cuboidsCount : 5,
					maxCuboidsCount : 7,
					orientation : 'r',
					cuboidsRandom : true,
					disperseFactor : 30
				} ),
				
				init = function() {

					initEvents();
					
				},
				initEvents = function() {

					// add navigation events
					$navArrows.children( ':first' ).on( 'click', function() {

						slicebox.next();
						return false;

					} );

					$navArrows.children( ':last' ).on( 'click', function() {
						
						slicebox.previous();
						return false;

					} );

				};
				


				return { init : init };

		})();

		Page.init();

	});
</script>

</body>
</html>