<html>
	<head>
    	<title>Доставка №1 - Кружка - доставка готовой еды в Мурманске :: Кружка</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="Доставка №1 Мурманск телефон (8152) 777-777">
		<link rel="STYLESHEET" type="text/css" href="css/main.css">
		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/cart.js"></script>
	</head>
<body>
<div class="main_wrap">
<div class="main">
<table class="header">
	<tr>
    	<td class="headerl"></td>
        <td class="headerr">
        	<div class="cart_info cart_info_ex">
            	<div class="title">Мой заказ</div>
                <div class="price"><span>235</span> руб.</div>
                <button class="butt" type="button" onclick="location.href='/kruzhka/cart/'">Оформить</button>
                </div>
        </td>
    </tr>
    <tr>
    	<td colspan="2" class="headerm">
            <div class="emenu">
                <a href="#">Акции</a>
                <a href="#">Условия доставки</a>
            </div>
        </td>
    </tr>
</table>

<div class="uban_nav" style="display: block;">
<a class="prev" style="height: 200px;"></a>
<a class="next" style="height: 200px;"></a>
</div>
<div class="uban" style="height: 200px;">
	<div class="ready" style="display: block;">
    	<img src="img/baner1.jpg" alt="" style="border:0;">
    </div>
    <div class="ready" style="display: none;">
    	<a href="#">
        	<img src="img/baner2.jpg" alt="" style="border:0;">
        </a>
    </div>
    <div class="ready" style="display: none;">
    	<a href="#">
        	<img src="img/baner3.jpg" alt="" style="border:0;">
        </a>
    </div>
    <div class="ready" style="display: none;">
    	<a href="#">
        	<img src="img/baner4.jpg" alt="" style="border:0;">
        </a>
    </div>
</div>

<div class="clear"></div>


<div class="lsection">
	<div class="menu">
		<div style="background:url('img/cat1.gif') no-repeat;">
        	<span>
            	<a href="#" class="sel">Блюда WOK</a>
            </span>
        </div>
        <div style="background:url('img/cat2.gif') no-repeat;">
        	<span>
            	<a href="#">Европейская<br>кухня</a>
            </span>
        </div>
        <div style="background:url('img/cat3.gif') no-repeat;">
        	<span>
            	<a href="#">Итальянская<br>кухня</a>
            </span>
        </div>
        <div style="background:url('img/cat4.gif') no-repeat;">
        	<span>
            	<a href="#">Японская<br>кухня</a>
            </span>
        </div>
        <div style="background:url('img/cat5.gif') no-repeat;">
        	<span>
            	<a href="#">Бар</a>
            </span>
        </div>
        <div style="background:url('img/cat6.gif') no-repeat;">
        	<span>
            	<a href="#">Банкетное меню</a>
            </span>
        </div>
	</div>
	<div class="clear"></div>
</div>

<div class="rsection">

    <div class="smenu">
        <a href="#" class="sel">Собери свой WOK</a>
        <span>|</span>
        <a href="#">Дополнительно</a>
        <div class="clear"></div>
    </div>
    
    <div class="items" data-show="1">
        <div class="item" data-id="1220" data-extra="1">
            <img src="/img/catimages/1_e5f6fd93d684.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Лапша соба (гречневая) с овощами</div>
                <div class="descr">Лапша со свежими, хрустящими овощами (перец болгарский, морковь, лук, цуккини, чеснок) и ароматные грибы шиитаке, нарезанные соломкой и обжаренные в вок, с мясом и соусом на выбор гостя. 400г.</div>
            </div>
            <div class="price">235 руб.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="item" data-id="1221" data-extra="1">
            <img src="/img/catimages/1_45e723f9d98c.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Лапша удон (пшеничная) с овощами</div>
                <div class="descr">Лапша со свежими, хрустящими овощами (перец болгарский, морковь, лук, цуккини, чеснок) и ароматные грибы шиитаке, нарезанные соломкой и обжаренные в вок, с мясом и соусом на выбор гостя. 400г.</div>
            </div>
            <div class="price">235 руб.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="item" style="margin-right:0" data-id="1222" data-extra="1">
            <img src="/img/catimages/1_fe6f84ee795c.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Лапша яичная с овощами</div>
                <div class="descr">Лапша со свежими, хрустящими овощами (перец болгарский, морковь, лук, цуккини, чеснок) и ароматные грибы шиитаке, нарезанные соломкой и обжаренные в вок, с мясом и соусом на выбор гостя. 400г.</div>
            </div>
            <div class="price">235 руб.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
        <div class="item" data-id="1329" data-extra="1">
            <img src="/img/catimages/1_ff3ae978057c.jpg">
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">Рис с овощами</div>
                <div class="descr">Жареный рис со свежими, хрустящими овощами (перец болгарский, лук, морковь, цуккини, чеснок) и жареное яйцо, приготовленные в вок, с мясом и соусом на выбор гостя. 400г.</div>
            </div>
            <div class="price">235 руб.</div>
            <div class="order">
                <button class="butt" onclick="cart_add_good(this)">заказать</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="chwin" style="display: none; margin-left: -290px; margin-top: -129.5px;">
        <a class="close" onclick="cart_close_win();"></a>
        <div class="title">Выберите свой морс в подарок (0,33 мл.)</div>
        <div class="info">
            <div class="item">
                <img src="/img/catimages/1_883cb788eb5a.jpg">
                <span>Черничный</span>
            </div>
            
            <div class="item">
                <img src="/img/catimages/1_5147b59188ce.jpg">
                <span>Брусничный</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
</div>

</div>
<div class="footer">
	<div class="copy">© 2015 ПЕРУНИЦА</div>
	<div class="phone">Общая информация по телефону: (8152) 75-00-05</div>
    <div class="author">
    	<a href="http://lagovskiy.com" target="_blank">создание сайта - <b><font color="red">S</font>ERGEY<font color="red">L</font>AGOVSKIY</a></b>
    </div>
</div>

</body>
</html>