{% extends 'base.html' %}

{% block content %}
<div class="rsection_t">
<input type="hidden" value="1" id="page">
<input type="hidden" value="-id" id="desc">
<div id="order-table">
</div>
<div id="order-window" style="display: none;"></div>
<div id="order-window-edit" style="display: none;"></div>
</div>


<script type="text/javascript">
function load_orders(desc, page){
    $.ajax({
        url: '/manager/orders/?desc=' + desc + '&page=' + page,
        cache: false,
        success: function(data){
            $('#order-table').html(data);
            $('#page').val(page);
            $('#desc').val(desc);
        },
        error: function(e, xhr){
            msg_error("", "Ошибка загрузки заказов.");
        }
    });
}

function order_open(id){
    var s = [
            'В готовку',
            'В доставку',
            'Выдано',
            'Заказ закрыт'
    ]
    $.ajax({
        url: '/manager/order/'+id+'/?print=no',
        cache: false,
        success: function(data){
            $( "#order-window" ).html(data);
            $(function() {
                $( "#order-window" ).dialog({
                    resizable: false,
                    height:500,
                    width: 600,
                    modal: true,
                    closeOnEscape: false,
                    title: "Заказ",
                    buttons: [
                        {
                        text: s[$('#order-status').val()-1],
                        click: function() {
                            $.ajax({
                                url: '/manager/order/setstatus/' + id + '/?status=' + $('#order-status').val(),
                                cache: false,
                                success: function(data){
                                    if(data=='ok')
                                        load_orders($('#desc').val(), $('#page').val());
                                    else
                                        msg_error("", "Ошибка сохранения статуса.");
                                },
                                error: function(e, xhr){
                                    msg_error("", "Ошибка изменения статуса.");
                                }
                            });
                            $( this ).dialog( "close" );
                            }
                        },
                        {
                        text: "Отменить",
                        click: function() {
                            $.ajax({
                                url: '/manager/order/setstatus/' + id + '/?status=-1',
                                cache: false,
                                success: function(data){
                                    if(data=='ok')
                                        load_orders($('#desc').val(), $('#page').val());
                                    else
                                        msg_error("", "Ошибка сохранения статуса.");
                                },
                                error: function(e, xhr){
                                    msg_error("", "Ошибка изменения статуса.");
                                }
                            });
                            $( this ).dialog( "close" );
                            }
                        },
                        {
                        text: "Печать",
                        click: function () {
                            window.open("/manager/order/" + id + "/?print=yes", "","width=800,height=700,location=0,menubar=0,scrollbars=1,status=1,resizable=0")
                            }
                        },
                        {
                        text: "Закрыть",
                        click: function() {
                            load_orders($('#desc').val(), $('#page').val());
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        },
        error: function(e, xhr){
            msg_error("", "Ошибка загрузки данных.");
        }
    });
}

function order_edit_goods(id){
    $.ajax({
        url: '/manager/orderbody/edit/'+id+'/',
        cache: false,
        success: function(data){
            $( "#order-window-edit" ).html(data);
            $(function() {
                $( "#order-window-edit" ).dialog({
                    resizable: false,
                    height:280,
                    width: 400,
                    modal: true,
                    closeOnEscape: false,
                    title: "Редактирование",
                    buttons: [
                        {
                        text: "Сохранить",
                        click: function() {
                            $.ajax({
                                url: '/manager/orderbody/save/' + id + '/?id=' + $('#orderbody_id').val() + '&count=' + $('#orderbody_count').val() + '&price=' + $('#orderbody_price').val(),
                                cache: false,
                                success: function (data) {
                                    if (data != 'error') {
                                        $.ajax({
                                            url: '/manager/order/' + data + '/?print=no',
                                            cache: false,
                                            success: function (data) {
                                                $("#order-window").html(data);
                                            },
                                            error: function(e, xhr){
                                                msg_error("", "Ошибка обновления данных.");
                                            }
                                        });
                                    } else {
                                        msg_error("", "Ошибка сохранения данных.");
                                    }
                                },
                                error: function(e, xhr){
                                    msg_error("", "Ошибка передачи данных.");
                                }
                            });
                            $( this ).dialog( "close" );
                            }
                        },
                        {
                        text: "Закрыть",
                        click: function() {
                            $( this ).dialog( "close" );
                            }
                        },
                    ]
                });
            });
        },
        error: function(e, xhr){
            msg_error("", "Ошибка загрузки данных.");
        }
    });
}

function order_edit_option(id, option){
    $.ajax({
        url: '/manager/orderbody/editoption/'+id+'/' + option + '/',
        cache: false,
        success: function(data){
            $( "#order-window-edit" ).html(data);
            $(function() {
                $( "#order-window-edit" ).dialog({
                    resizable: false,
                    height:280,
                    width: 400,
                    modal: true,
                    closeOnEscape: false,
                    title: "Редактирование",
                    buttons: [
                        {
                        text: "Сохранить",
                        click: function() {
                            $.ajax({
                                url: '/manager/orderbody/saveoption/' + id + '/?id=' + $('#orderbody_id').val() + '&count=' + $('#orderbody_count').val() + '&price=' + $('#orderbody_price').val() + '&option=' + option,
                                cache: false,
                                success: function (data) {
                                    if (data != 'error') {
                                        $.ajax({
                                            url: '/manager/order/' + data + '/?print=no',
                                            cache: false,
                                            success: function (data) {
                                                $("#order-window").html(data);
                                            },
                                            error: function(e, xhr){
                                                msg_error("", "Ошибка обновления данных.");
                                            }
                                        });
                                    } else {
                                        msg_error("", "Ошибка сохранения данных.");
                                    }
                                },
                                error: function(e, xhr){
                                    msg_error("", "Ошибка передачи данных.");
                                }
                            });
                            $( this ).dialog( "close" );
                            }
                        },
                        {
                        text: "Закрыть",
                        click: function() {
                            $( this ).dialog( "close" );
                            }
                        },
                    ]
                });
            });
        },
        error: function(e, xhr){
            msg_error("", "Ошибка загрузки данных.");
        }
    });
}

load_orders('-id', 1);
</script>
<style>
#order-table td{
    padding: 3px;
}
#order-table td a{
    text-decoration: none;
}
#order-table tr{
    cursor: pointer;
    font-size: 14px;
}
#order-table tr:hover{
    background-color: #dddddd;
}
.pagination{
    padding-top: 20px;
    font-size: 14px;
}
.pagination a{
    text-decoration: none;
    font-size: 20px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none !important;
}
</style>
{% endblock %}