{% extends 'base.html' %}

{% block content %}
{% endblock %}

{% block bottom_script %}
    {% if menu %}
        $('#main_menu_{{ menu.slug }}').addClass('sel');
        {% if sub_menu %}
            $('#sub_menu_{{ sub_menu.slug }}').addClass('sel');
        {% endif %}
    {% endif %}
    function update_bsket(){
        $.ajax({
            url: '/shop/basket/',
            cache: false,
            success: function(data){
                $('#basket').html(data);
            },
            error: function(e, xhr){
                msg_error("", "Error update basket.");
            }
        });
    }

    update_bsket();

{% endblock %}