    <div class="cart">
        <h1>
            <span style="cursor:pointer" onclick="load_basket_data()">Ваш заказ</span><b>Адрес</b><span>Подтверждение</span>
        </h1>
        <div class="txt">
            <div class="form">
                <div class="f1">
                    <span>Имя*</span><input type="text" name="fio" value="">
                    <span style="padding-top:15px;">Телефон*</span><input type="text" name="phone" value="">
                    <span style="padding-top:15px;">Город *</span><input type="text" name="city" value="Петропавловск">
                    <!--<span style="padding-top:15px;">№ бонусной карты</span><input type="text" name="cardnum" data-def="№ бонусной карты" value="">-->
                    <span  style="padding-top:15px;">Способ оплаты&nbsp;<select name="payment"><option value="1">Наличными</option><option value="2">Картой</option></select></span>
                </div>
                <div class="f3">
                    <span>Адрес доставки*</span><textarea name="address" style="margin-bottom:30px;"></textarea>
                </div>
                <div class="clear"></div>
                <button type="submit" class="butt">Продолжить</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
