{% load static %}
        <div class="item" id="goods_{{ item.id }}">
            {% if item.image %}<img src="{{ item.image.url }}">{% else %}<img src="{% static 'img/no_image.jpg' %}">{% endif %}
            <div class="info" style="margin-top: 222px; height: 40px; overflow: hidden;">
                <div class="title">{{ item.name }}</div>
                <div class="descr">{{ item.description }} {{ item.weight }}{{ item.unit.name }}</div>
            </div>
            <div class="price">{{ item.price }} тнг.</div>
            <div class="order">
                {% if item.choice %}
                    <button class="butt" onclick="cart_add_choice({{ item.id }})">заказать</button>
                {% elif item.option1 or item.option2 or item.option3 %}
                    <button class="butt" onclick="cart_add_option({{ item.id }})">заказать</button>
                {% else %}
                    <button class="butt" onclick="cart_add_good({{ item.id }})">заказать</button>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
