<style type="text/css">
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog-titlebar-close {
    background: none !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
</style>

<div id="dialog-option" title="" style="display: none;">

</div>

<div id="dialog-choice" title="" style="display: none;">
    <div class="chwin">
        <div class="info">
            <div class="item">
                <img src="/img/catimages/1_0dac7b4ca653.jpg">
                <span>Говядина</span>
            </div>
            <div class="item">
                <img src="/img/catimages/1_5006fad2faac.jpg">
                <span>Свинина</span>
            </div>
            <div class="item">
                <img src="/img/catimages/1_b3e5023a310d.jpg">
                <span>Курица</span>
            </div>
            <div class="item">
                <img src="/img/catimages/1_8adcef9bd172.jpg">
                <span>Морепродукты</span>
            </div>
        </div>
    </div>
</div>
