{% load static %}
        <div class="lsection">
            <div class="menu">
                {% for item in main_menu %}
                <div style="background:url('{{ item.icon.url }}') no-repeat;">
                    <span>
                        <a id="main_menu_{{ item.slug }}" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                    </span>
                </div>
                {% endfor %}
            <hr style="width: 70%; border: 1px solid #CCCCCC; margin-bottom: 30px;">
                <div style="background:url('{% static 'img/news.png' %}') no-repeat;">
                    <span>
                        <a id="" href="/news/">Новости</a>
                    </span>
                </div>
                <div style="background:url('{% static 'img/comment.png' %}') no-repeat;">
                    <span>
                        <a id="" href="/feedback/">Отзывы</a>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
