        <div>
            {% if banner %}
            <ul id="sb-slider" class="sb-slider">
                {% for item in banner %}
                    <li>
                        <a href="{{ item.link }}"><img src="{{ item.image.url }}" /></a>
                    </li>
                {% endfor %}
            </ul>
                <script type="text/javascript">
                $(function() {
                    var Page = (function() {
                        var $navArrows = $( '#nav-arrows' ).hide(),
                            $shadow = $( '#shadow' ).hide(),
                            slicebox = $( '#sb-slider' ).slicebox( {
                                onReady : function() {
                                    $navArrows.show();
                                    $shadow.show();
                                },
                                autoplay : true,
                                interval: 5000,
                                cuboidsCount : 5,
                                maxCuboidsCount : 7,
                                orientation : 'r',
                                cuboidsRandom : true,
                                disperseFactor : 30
                            } ),
                            init = function() {
                                initEvents();
                            },
                            initEvents = function() {
                                $navArrows.children( ':first' ).on( 'click', function() {
                                    slicebox.next();
                                    return false;
                                } );
                                $navArrows.children( ':last' ).on( 'click', function() {
                                    slicebox.previous();
                                    return false;
                                } );
                            };
                            return { init : init };
                    })();
                    Page.init();
                });
            </script>
            <div id="shadow" class="shadow"></div>
            {% endif %}
        </div>
        <div class="clear"></div>
