{% if sub_menu %}
        <div class="rsection">

            <div class="smenu">
                {% for item in sub_menu %}
                    <a id="sub_menu_{{ item.slug }}" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                    {% if not forloop.last %}
                        <span>|</span>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>

            {% block content %}
            {% endblock %}
        </div>
{% else %}
    <div class="rsection_m"></div>
{% endif %}